@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
  background: url(https://wallpapers.com/images/hd/programming-a-laptop-wuze1bxup48cr0bs.jpg);
  background-repeat: no-repeat;
  background-size: 2000px 950px;
  background-color: navy;
}

@media(max-width:1500px){
nav{
    display: flex;
    width: 1850px;
    margin-left: -200px;
    margin-top: -55px;
    align-items: center;
    justify-content: space-between;
}
}

nav ul{
  margin-left: 1450px;
  width: 500px;
  margin-top: -65px;
 
}
nav ul li {
    display: inline-block;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}

#port h2{
    margin-left: 150px;
    margin-top: 170px;
    color: aliceblue;
}
#port p{
    margin-left: 150px;
    margin-top: -2px;
    font-size: medium;
    color:white;
    font-weight: 800;
}
button{

    background-color: black;
    margin-left: 150px ;
    color: white;
    border-radius: 50px;
    padding: 10px;
    border-style: hidden;
}


 #about{
   margin-left: 8%;
   margin-top: 30%;
   margin-right: 8%;
 }

 .heading{
   margin-left: 630px;
 }
 
 .heading h3{
   font-size: 20px;
   color: white;
   font-weight: 500;
 }

 .about-content{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   gap: 1rem;
   margin-top: 2rem;
   color: whitesmoke;
 }
 .about-img img{
   width: 50%;
   
 }
 .about-text{
   font-size: 18px;
   font-weight: 500;
   text-align: justify;
 }

 .information{
   margin: 1rem 0 1.4rem;
 }
 .information .info-box{
   display: flex;
   align-items: center;
   margin-bottom: 16px;
 }
 .information .info-box span{
   font-weight: 400;
   margin-left: 10px;
 }
 .title a{
    background-color: black;
    padding:10px 18px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;    
 }
#skills button{
  margin-top: 50px;
  margin-left: 280px;
  font-size: large;
  font-weight: 600;
  width: 15%;
 }

 .skill{
  margin-left: 710px;
  font-size: large;
  font-weight: 600;
  color: aliceblue;
 }

 .skill button{
  border-top-right-radius: 0;
 }

 .icon-div{
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .icon{
  width: 50px;
  height: 50px;
  border: 2px solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightcoral;
  margin: 0 10px;
 }
 .icon i{
  font-size: 20px;
 }
 .icon i:hover{
  color: white;
 }
 footer{
  margin-top: 2rem;
  font-weight: bolder;
 }
.heading h2{
  margin-left: -50px;
}
.heading span{
  margin-left: -60px;
}
footer p{
  color: aliceblue;
}

@media(max-width:1500px){
#sni{
  margin-top: 650px;
  width: 500px;
}
}

@media(max-width:1500px){
#cnt{
  margin-left: 150px;
  width: 820px;
}
}
@media(max-width:1500px){
#im{
  margin-left: 200px;
  width: 350px;
}
}
@media(max-width:1500px){
#bt{
  width: 700px;
  margin-top: 50px;
}
}
@media(max-width:1500px){
#ic button{
  width: 250px;
  margin-top: -50px;
}
}
@media(max-width:1500px){
#fotr{
  margin-left: 600px;
  width: 500px;
  margin-top: 90px;
}
}
@media(max-width:1500px){
.pf{
  margin-left: 500px;
  width: 700px;
}
}

  
  